.leaflet-control-zoom {
	border-radius: 3rem;
}
.leaflet-touch .leaflet-bar a:first-child {
	border-top-right-radius: 3rem;
	border-top-left-radius: 3rem;
}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 3rem;
	border-bottom-right-radius: 3rem;
}
